beautifulsoup4==4.14.3
pillow==12.1.0
playwright==1.57.0
PyMuPDF==1.27.2.3
requests==2.33.1

# Raspberry Pi / hardware

gpiozero==2.0.1
lgpio==0.2.2.0
rpi-lgpio==0.6
RPi.GPIO==0.7.1
spidev==3.8

# Optional but used in processing

numpy==2.4.1
