beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.7
colorzero==2.0
gpiozero==2.0.1
greenlet==3.3.0
idna==3.11
lgpio==0.2.2.0
numpy==2.4.1
pillow==12.1.0
playwright==1.57.0
pyee==13.0.0
PyMuPDF==1.27.2.3
requests==2.33.1
rpi-lgpio==0.6
RPi.GPIO==0.7.1
setuptools==80.9.0
soupsieve==2.8.3
spidev==3.8
typing_extensions==4.15.0
urllib3==2.6.3
